{% extends 'base.html' %}

<head>
<title>View Book</title>


<body>
<h1>Text File Content</h1>
    <pre id="file-content"></pre>

    <script>
        // Путь к вашему текстовому файлу
        const filePath = "{{ file_path | tojson }}";

        // Функция для загрузки и отображения содержимого файла
        fetch(filePath)
            .then(response => response.text())
            .then(data => {
                document.getElementById('file-content').textContent = data;
            })
            .catch(error => console.error('Error loading file:', error));
    </script>
</body>